.footerContainer {
  background: #000;
  opacity: 0.9;
  height: 200px;
  padding-top: 40px;
  ul {
    text-align: center;
    li {
      display: inline-block;
      padding: 0 40px;
      img {
        width: 100px;
        vertical-align: middle;
      }
      .qrcodeText {
        color: #fff;
        line-height: 45px;
      }
    }
  }
}
